<%- include ("../../partials/header") %>
<%- include ("../../partials/navbar") %>
<div class="container">
    <hr>
    <div class="card mb-5">
        <div class="card-header">
            <h2> Novo Artigo</h2>
        </div>
        <div class="card-body">
            <form method="post" action="/Reports/save">
                <input  class="form-control" type="text" name="title" placeholder="Defina o título do Artigo">
                <br>
                <textarea class="form-control" placeholder="Escreva seu Artigo aqui" name="body" id="Report"></textarea>
                <br>
                <label>Categoria</label>
                <br>
                <select class="form-control" name="category">
                    <% categories.forEach((category)=>{ %>
                        <option value="<%= category.id %>"><%= category.title %></option>
                    <% }) %>
                </select>
                <br>
                <button class="btn btn-success">Enviar</button>
            </form>
        </div>

    </div>
</div>

<%- include ("../../partials/footer.ejs") %>

<script src="/tinymce/js/tinymce/tinymce.min.js"></script>
<script>
    tinymce.init({
        selector: "#Report",
        plugins: [
            'advlist', 
            'autolink', 
            'link', 
            'image', 
            'lists', 
            'print', 
            'preview', 
            'hr', 
            'searchreplace', 
            'wordcount', 
            'fullscreen', 
            'insertdatetime', 
            'media', 
            'save', 
            'table', 
            'paste', 
            'emoticons'
        ],
        language: 'pt_BR'
    })
</script>